.mainpage_container {
    height: calc(100vh - 52px);
    background-color: #EFF2F5;
    padding-top: 16px;
}

.leftContainer {
    display: flex;
    justify-content: flex-end;
}

.middleContainer {
    margin-left: 50px !important;
    margin-right: 80px !important;
    overflow-y: scroll;
    height: calc(100vh - 68px); 
    max-width: 600px !important;
}