.post_container {
    width: 600px;
    margin-top: 20px;
    border-radius: 20px;
}

.post_header {
    display: flex;
    height: 50px;
}

.post_img {
    margin: 15px;
}

.post_header_text {
    font-weight: 700;
    margin-top: 20px;
    font-size: 14px;
}

.post_description {
    display: flex;
    margin-left: 15px;
    margin-top: 10px;
}

.post_image {
    margin: 10px 0px;
}

.post_likeCountContainer {
    display: flex;
    height: 30px;
    pad: 0px 10px;
    border-bottom: 1px solid #CDD0D4;
}

.post_LikeImg {
    height: 20px;
}

.post_likeCount {
    margin-left: 5px;
}

.post_likeShare {
    display: flex;
    height: 50px;
    margin-left: 100px;
    margin-top: 10px;
}

.post_tab {
    display: flex;
    width: 200px;
}

.post_tabImg {
    width: 30px;
}

.post_tabText {
    margin: 5px;
}

.post_comment {
    border-top: 1px solid #CDD0D4;
}

.post_tabText.liked {
    color: blue;
    font-weight: bold;
}

.post_tab:hover {
    cursor: grab;
}

.comments_list {
    margin-top: 10px;
    padding: 10px;
}

.comment {
    display: flex; 
    margin-bottom: 15px;
    align-items: flex-start;
}

.comment_avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px; 
}

.comment_content {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    background-color: #eff2f5;
    border-radius: 10px;
}

.comment_content strong {
    font-weight: bold;
    margin-bottom: 5px; 
}

.comment_content p {
    margin: 0;
    font-size: 14px;
}