.right_header {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

.right_search {
    margin-left: 10px;
}

.right_contactSearch {
    border-radius: 25px;
    border: 0px;
    font-size: 16px;
    padding-left: 5px;
    margin-right: 5px;
}